<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <connectionStrings>
        <add name="history" connectionString="Server = 127.0.0.1;Database = history;Command Timeout = 0;User Id = postgres;Password = 085673AlAn" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
