@page
@model RazorPagesMovie.Pages.account_discussions

@{
    Layout = null;
}

<nav class="account-nav">
    <div class="account-nav-link-container">
        <div class="account-nav-link" onclick="settings()">Настройки</div>
    </div>
    <div class="account-nav-link-container">
        <div class="account-nav-link" onclick="myArticles()">Избранные статьи</div>
    </div>
    <div class="account-nav-link-container">
        <div class="account-nav-link account-active" onclick="myDiscussions()">Мои обсуждения</div>
    </div>
</nav>

<div class="account-discussions">

    <a href="discussion.html" class="forum-discussion-item">
        <div class="forum-discussion-container">
            <div class="forum-discussion-headline">Кто, если не Путин?</div>
            <div class="forum-discussion-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
            </div>
            <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
        </div>
    </a>
    
    <a href="discussion.html" class="forum-discussion-item">
        <div class="forum-discussion-container">
            <div class="forum-discussion-headline">Кто, если не Путин?</div>
            <div class="forum-discussion-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
            </div>
            <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
        </div>
    </a>
    
    <a href="discussion.html" class="forum-discussion-item">
        <div class="forum-discussion-container">
            <div class="forum-discussion-headline">Кто, если не Путин?</div>
            <div class="forum-discussion-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
            </div>
            <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
        </div>
    </a>
    
    <a href="discussion.html" class="forum-discussion-item">
        <div class="forum-discussion-container">
            <div class="forum-discussion-headline">Кто, если не Путин?</div>
            <div class="forum-discussion-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
            </div>
            <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
        </div>
    </a>
    
    <a href="discussion.html" class="forum-discussion-item">
        <div class="forum-discussion-container">
            <div class="forum-discussion-headline">Кто, если не Путин?</div>
            <div class="forum-discussion-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
            </div>
            <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
        </div>
    </a>

</div>