@page
@model RazorPagesMovie.Pages.account

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Главная";
}
<main id="main">

    <div id="main-block-account">

    </div>

</main>

<script>
            $(document).ready(function() {
                settings();
            });
        </script>
