@page
@model RazorPagesMovie.Pages.account

@{
    Layout = null;
}

<main id="main">

    <div id="main-block-account">

    </div>

</main>

<script src="../js/back-to-top.js"></script>
<script src="../js/account.js"></script>
<script src="../js/account-settings.js"></script>