@page
@model RazorPagesMovie.Pages.account_articles

@{
    Layout = null;
}

<nav class="account-nav">
    <div class="account-nav-link-container">
        <div class="account-nav-link" onclick="settings()">Настройки</div>
    </div>
    <div class="account-nav-link-container">
        <div class="account-nav-link account-active" onclick="myArticles()">Избранные статьи</div>
    </div>
    <div class="account-nav-link-container">
        <div class="account-nav-link" onclick="myDiscussions()">Мои обсуждения</div>
    </div>
</nav>

<div class="account-articles">

    <a href="article.html" class="post-item" style="background-image: url(../images/1.jpg);" keywords="Литва;14 век;Великое княжество Литовское">
        <div class="post-container">
            <div class="post-data">09.11.20</div>
            <div class="post-headline">FAQ: Великое княжество Литовское. 200 лет неизвестной истории</div>
            <div class="post-keyword">Литва</div>
        </div>
    </a>

    <a href="#" class="post-item" style="background-image: url(../images/2.jpg);" keywords="Россия">
        <div class="post-container">
            <div class="post-data">30.10.20</div>
            <div class="post-headline">12 важнейших археологических находок десятилетия</div>
            <div class="post-keyword">Археология</div>
        </div>
    </a>

    <a href="#" class="post-item" style="background-image: url(../images/3.jpg);" keywords="Россия">
        <div class="post-container">
            <div class="post-data">25.10.20</div>
            <div class="post-headline">Киев глазами немецкого солдата: оккупация столицы в фотографиях</div>
            <div class="post-keyword">Киев</div>
        </div>
    </a>

    <a href="article.html" class="post-item" style="background-image: url(../images/1.jpg);" keywords="Литва;14 век;Великое княжество Литовское">
        <div class="post-container">
            <div class="post-data">09.11.20</div>
            <div class="post-headline">FAQ: Великое княжество Литовское. 200 лет неизвестной истории</div>
            <div class="post-keyword">Литва</div>
        </div>
    </a>

    <a href="#" class="post-item" style="background-image: url(../images/2.jpg);" keywords="Россия">
        <div class="post-container">
            <div class="post-data">30.10.20</div>
            <div class="post-headline">12 важнейших археологических находок десятилетия</div>
            <div class="post-keyword">Археология</div>
        </div>
    </a>

    <a href="#" class="post-item" style="background-image: url(../images/3.jpg);" keywords="Россия">
        <div class="post-container">
            <div class="post-data">25.10.20</div>
            <div class="post-headline">Киев глазами немецкого солдата: оккупация столицы в фотографиях</div>
            <div class="post-keyword">Киев</div>
        </div>
    </a>

</div>