@page
@model RazorPagesMovie.Pages.discussion

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Главная";
}

<main id="main">

    <div class="main-block-discussion">

        <div class="discussion-div">
            <div class="discussion-headline">Кто, если не Путин?</div>
            <div class="discussion-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo consectetur autem, inventore nulla doloribus tempore iusto nobis cumque rem dignissimos? Numquam velit corporis minima repellendus? Corporis atque voluptates ducimus sit?
                <br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum sunt odio debitis praesentium rerum eligendi nemo! Animi quod nisi explicabo, dolor laudantium, culpa fugit, soluta voluptates mollitia vitae deserunt numquam.
            </div>
            <div class="discussion-info">VovkaRussia777, 22.05.20</div>
        </div>

        <div class="comments-div">

            <form action="" class="comment-form">
                <textarea placeholder="Комментарий"></textarea>
                <button class="add-comment" type="submit">Добавить комментарий</button>
            </form>

            <div class="all-comments">
                <div class="comment">
                    <div class="comment-text">Реально круто! РОССИЯ ВПЕРЁД!!! Люблю историю и Путина!</div>
                    <div class="comment-info">Patriarch, 07.12.20</div>
                </div>
                <div class="comment">
                    <div class="comment-text">Реально круто! РОССИЯ ВПЕРЁД!!! Люблю историю и Путина!</div>
                    <div class="comment-info">Patriarch, 07.12.20</div>
                </div>
                <div class="comment">
                    <div class="comment-text">Реально круто! РОССИЯ ВПЕРЁД!!! Люблю историю и Путина!</div>
                    <div class="comment-info">Patriarch, 07.12.20</div>
                </div>
                <div class="comment">
                    <div class="comment-text">Реально круто! РОССИЯ ВПЕРЁД!!! Люблю историю и Путина!</div>
                    <div class="comment-info">Patriarch, 07.12.20</div>
                </div>
                <div class="comment">
                    <div class="comment-text">Реально круто! РОССИЯ ВПЕРЁД!!! Люблю историю и Путина!</div>
                    <div class="comment-info">Patriarch, 07.12.20</div>
                </div>
                <div class="comment">
                    <div class="comment-text">Реально круто! РОССИЯ ВПЕРЁД!!! Люблю историю и Путина!</div>
                    <div class="comment-info">Patriarch, 07.12.20</div>
                </div>
                <div class="comment">
                    <div class="comment-text">Реально круто! РОССИЯ ВПЕРЁД!!! Люблю историю и Путина!</div>
                    <div class="comment-info">Patriarch, 07.12.20</div>
                </div>
                <div class="comment">
                    <div class="comment-text">Реально круто! РОССИЯ ВПЕРЁД!!! Люблю историю и Путина!</div>
                    <div class="comment-info">Patriarch, 07.12.20</div>
                </div>
            </div>

        </div>

    </div>

</main>
