@page
@model RazorPagesMovie.Pages.forum

@{
    Layout = "Shared/_Layout";
}

<main id="main">
    <div class="main-block-forum">
        <div class="forum-header">
            <div class="forum-headline">Обсуждения</div>
            <div><a href="new-discussion.html"><button class="add-discussion">Создать</button></a></div>
        </div>
        <div class="forum-discussions">

            <a href="discussion.html" class="forum-discussion-item">
                <div class="forum-discussion-container">
                    <div class="forum-discussion-headline">Кто, если не Путин?</div>
                    <div class="forum-discussion-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
                    </div>
                    <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
                </div>
            </a>
                    
            <a href="discussion.html" class="forum-discussion-item">
                <div class="forum-discussion-container">
                    <div class="forum-discussion-headline">Кто, если не Путин?</div>
                    <div class="forum-discussion-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
                    </div>
                    <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
                </div>
            </a>
                    
            <a href="discussion.html" class="forum-discussion-item">
                <div class="forum-discussion-container">
                    <div class="forum-discussion-headline">Кто, если не Путин?</div>
                    <div class="forum-discussion-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
                    </div>
                    <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
                </div>
            </a>
                    
            <a href="discussion.html" class="forum-discussion-item">
                <div class="forum-discussion-container">
                    <div class="forum-discussion-headline">Кто, если не Путин?</div>
                    <div class="forum-discussion-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
                    </div>
                    <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
                </div>
            </a>
                    
            <a href="discussion.html" class="forum-discussion-item">
                <div class="forum-discussion-container">
                    <div class="forum-discussion-headline">Кто, если не Путин?</div>
                    <div class="forum-discussion-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
                    </div>
                    <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
                </div>
            </a>
                    
            <a href="discussion.html" class="forum-discussion-item">
                <div class="forum-discussion-container">
                    <div class="forum-discussion-headline">Кто, если не Путин?</div>
                    <div class="forum-discussion-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
                    </div>
                    <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
                </div>
            </a>
                    
            <a href="discussion.html" class="forum-discussion-item">
                <div class="forum-discussion-container">
                    <div class="forum-discussion-headline">Кто, если не Путин?</div>
                    <div class="forum-discussion-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
                    </div>
                    <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
                </div>
            </a>
                    
            <a href="discussion.html" class="forum-discussion-item">
                <div class="forum-discussion-container">
                    <div class="forum-discussion-headline">Кто, если не Путин?</div>
                    <div class="forum-discussion-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum beatae, quidem, numquam corrupti atque incidunt aliquid, possimus laborum aspernatur velit quaerat quos aut voluptatum voluptatibus. Unde sed saepe repellendus placeat!
                    </div>
                    <div class="form-discussion-info">VovkaRussia777, 22.05.20</div>
                </div>
            </a>
                    
        </div>
    </div>
</main>
