@page
@model RazorPagesMovie.Pages.forum

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Форум";
}

<main id="main">
    <div class="main-block-forum">
        @if (login.IsSession && login.LoginEqualsLoginSession())
        {
            <div class="forum-header">
                <div class="forum-headline">Обсуждения</div>
                <div><a href="/new-discussion"><button class="add-discussion">Создать</button></a></div>
            </div>
        }
        else
        {
            <p style="text-align: center">Вы не можете создавать обсуждения, пока не выполните <a href="/login"><strong>Вход</strong></a></p>
        }
        <div class="forum-discussions">
            @foreach (var e in Model._list)
            {
                <a href="/discussion?open=@e.DiscussionId" class="forum-discussion-item">
                    <div class="forum-discussion-container">
                        <div class="forum-discussion-headline">@e.Name</div>
                        <div class="forum-discussion-text">
                            @e.Description
                        </div>
                        <div class="form-discussion-info">@e.PersonCreateLogin, @e.TimeCreate.ToString("d")</div>
                    </div>
                </a>
            }
        </div>
    </div>
</main>

@section Header
{
    
}

@section Footer
{
    <script src="/js/back-to-top.js"></script>
}
