@page
@model RazorPagesMovie.Pages.forum

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Главная";
}

<main id="main">
    <div class="main-block-forum">
        <div class="forum-header">
            <div class="forum-headline">Обсуждения</div>
            <div><a href="/new-discussion"><button class="add-discussion">Создать</button></a></div>
        </div>
        <div class="forum-discussions">
            @foreach (var e in forum._list)
            {
                <a href="/discussion?open=@e.DiscussionId" class="forum-discussion-item">
                    <div class="forum-discussion-container">
                        <div class="forum-discussion-headline">@e.Name</div>
                        <div class="forum-discussion-text">
                            @e.Description
                        </div>
                        <div class="form-discussion-info">@e.PersonCreateName, @e.TimeCreate.ToString("d")</div>
                    </div>
                </a>
            }
        </div>
    </div>
</main>