@page
@model RazorPagesMovie.Pages.login

@{
    Layout = "Shared/_Layout";
}

        <main id="main">
            <div class="main-block-login">
                <div class="login-div">
                    <form action="" class="form-add" onsubmit="return false;">
                        <input data-rule="login" type="text" placeholder="Логин">
                        <input data-rule="parol" type="password" placeholder="Пароль">
                        <input class="button" type="submit" value="Войти">
                    </form>
                </div>
                <a class="sign" href="signup.html">Зарегистрироваться</a>
            </div>
        </main>