@page
@model RazorPagesMovie.Pages.login

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Главная";
}

<main id="main">
    <div class="main-block-login">
        <div class="login-div">
            <form method="POST" class="form-add" onsubmit="">
                <input data-rule="login" type="text" placeholder="Логин" asp-for="Login" value="@Model.Login">
                <input data-rule="parol" type="password" placeholder="Пароль" asp-for="Password" value="@Model.Password">
                <p><input class="button" type="checkbox" asp-for="ZapomnitMenya">Запомнить меня</p>
                <input class="button" type="submit" value="Войти">
            </form>
        </div>
        <a class="sign" href="/signup">Зарегистрироваться</a>
    </div>
    <p>@ViewData["error"]</p>
</main>
@section Header
{
    <script src="/js/login.js"></script>
}

@section Footer
{
    
}