@page
@model RazorPagesMovie.Pages.login

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Вход";
}

<main id="main">
    <div class="main-block-login">
        <div class="login-div">
            <form method="POST" class="form-add" onsubmit="">
                <input data-rule="login" type="text" placeholder="Логин" asp-for="Login" value="@Model.Login">
                <input data-rule="parol" type="password" placeholder="Пароль" asp-for="Password" value="@Model.Password">
                <div class="remember-checkbox">
                    <input type="checkbox" id="remember" asp-for="ZapomnitMenya">
                    <label for="remember">Запомнить меня</label>
                </div>
                <input class="button" type="submit" value="Войти">
            </form>
        </div>
        <a class="sign" href="/signup">Зарегистрироваться</a>
        
        <p class="error-message">@ViewData["error"]</p>
    </div>
    
</main>
@section Header
{
    <script src="/js/login.js"></script>
}

@section Footer
{
    
}