@page
@model RazorPagesMovie.Pages.new_discussion

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Главная";
}

<main id="main">
    <div class="main-block-forum">
        <div class="forum-headline">Создать обсуждение</div>
        <form action="" class="discussion-form" onsubmit="return false;">
            <input type="text" placeholder="Введите заголовок">
            <textarea placeholder="Введите текст"></textarea>
            <div class="add"><button class="add-discussion" type="submit">Создать</button></div>
        </form>
    </div>
</main>
