@page
@model RazorPagesMovie.Pages.new_discussion

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Создать новое обсуждение";
}

<main id="main">
    <div class="main-block-forum">
        <div class="forum-headline">Создать обсуждение</div>
        <form method="post" class="discussion-form">
            <input type="text" placeholder="Введите заголовок" asp-for="Name">
            <textarea placeholder="Введите описание" asp-for="Description"></textarea>
            <div class="add"><button class="add-discussion" type="submit">Создать</button></div>
        </form>
        @if (@Model.Message != null)
        {
            if (@Model.Message.Length > 0)
            {
                <p class="login-message">@Model.Message</p>
            }
        }
    </div>
</main>
@section Header
{
    <script src="/js/add-discussion.js"></script>
}

@section Footer
{
    
}